<%- include('../partials/header') %>
<!--Content-->
<div class="row justify-content-center mt-4">
  <div class="col-12 col-md-10 col-lg-8">
    <form method="POST">
      <div class="my-3">
        <h1>Post create/edit</h1>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Post title</label>
        <input type="text" class="form-control" id="title" name="post[title]" value="<%= typeof post !== "undefined"? post.title : "" %>">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Post content</label>
        <textarea class="form-control" id="content" name="post[content]" rows="3"><%= typeof post !== "undefined"? post.content : "" %></textarea>
      </div>
      <!--<div class="mb-3">
        <label for="thumbnail"></label>
        <input accept="image/png, image/jpeg" type="file" name="post[thumbnail]" id="thumbnail">
      </div>-->
      <div class="form-check mb-5">
        <input class="form-check-input" type="checkbox" value="true" <%= typeof post !== "undefined"? (post.disableThumbs? "checked": "") : "" %> name="post[disableThumbs]" id="thumbs">
        <label class="form-check-label" for="thumbs">
          Disable thumbs up / thumbs down functionality?
        </label>
      </div>
      <button type="submit" class="btn btn-primary mb-5 float-end">Submit</button>
    </form>
  </div>
</div>
<!--End of Content-->
<%- include('../partials/footer', { needJS: false }) %>
