<!DOCTYPE html>
<html>
  <head>
    <title>Pippantásch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pippantásch</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/items">Listázás</a></li>
          <li><a href="/items/new">Eladás</a></li>
          <li><%= link_to "Uj dohany iz", new_flavor_path %></li>
          <li><%= link_to "Dohanyok", flavors_path %></li>
          <li><%= link_to "Elfogyott itemek", unavaliable_items_path %></li>
        </ul>
      </div>
    </nav>

    <% if flash.notice %>
      <div class="alert alert-success">
        <%= flash.notice %>
      </div>
    <% end %>

    <% if flash.alert %>
      <div class="alert alert-danger">
        <%= flash.alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
