<h1>Food</h1>
<h2>Name: <%= @food.name %></h2>
<h2>Price: <%= @food.price %> JMF</h2>
<h2>Összetevők:</h2>
<ul>
  <% @food.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name %>
    </li>
  <% end %>
</ul>
<% if @food.photo.attached? %>
  <%= image_tag(@food.photo) %>
<% end %>

<p> Majd a harmadik alkalmon ide teszünk képet, extra szövegt és egy listát a hozzávalókról.</p>
<%= link_to 'Home', foods_path %>
