<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<h2>Bejegyzések</h2>

<% @group.posts.each do |post| %>
  <p><%= post.content %></p>
  <%= link_to 'Törlés', group_post_path(@group, post), method: "delete" if post.can_destroy?(current_user) %>
  <hr>
<% end %>

<% if @group.can_create_post?(current_user) %>
  <%= form_for @post, url: group_posts_path(@group) do |form| %>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Csatalakozas', group_memberships_path(@group), method: :POST if @group.can_join?(current_user) %> |
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
