<!DOCTYPE html>
<html>
  <head>
    <title>Korosch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Bejelentkezve, mint: <%= current_user.name %>
    <%= yield %>
  </body>
</html>
