<%- include('../partials/header') %>

<% if ((typeof matches === "undefined") || matches.length == 0) {%>
  <div class="row my-4">
    <div class="col-12">
      <h1 class="fs-3">Sajnos túlságosan egyedi az ízlésed, nem találtunk találatot! :(</h1>
    </div>
  </div>
<% } else { %>
  <div class="row text-center my-4">
    <% for (let user of matches) {%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"><%= user.name %></h4>
            <p class="card-text">
              Email: <%= user.email %> <br />
              Pontok: <%= user.points %>  
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
<% } %>

<%- include('../partials/footer') %>